body {
    
    background-color: #f8f9fa;
    color: #343a40;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.btn {
    font-size: 18px;
}

.list-group-item {
    background-color: #f1f1f1;
}

footer {
    background-color: #343a40; /* Color oscuro */
    color:  #343a40;
    
}
footer a {
    color:   #343a40; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
}
footer a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

footer text{
    color:  #343a40;
}
footer.bg-dark {
    color: #343a40;; /* Cambia este color por el que desees */
}

footer.bg-dark a {
    color: #343a40;; /* Cambia este color para los enlaces */
}

.form-group img {
    vertical-align: middle;
}

img{
    
    width: 150px; /* O el tamaño que necesites */
    height: 150px; /* Asegúrate de que sea igual al ancho para mantener la forma */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Asegura que la imagen se ajuste bien */
    
}