<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluación de Salas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <script>
        const utasPorSala = {
            'sala blanca': ['UTA7C', 'UTA7D'],
            'sala naranja': ['UTA7A', 'UTA7B'],
            'sala amarilla': ['UTA8A', 'UTA8B'],
            'sala telco': ['UTA1T', 'UTA2T'],
            'sala jaula': ['UTA6A', 'UTA6B', 'UTA6C'],
            'sala ibm1': ['UTA6B', 'UTA7B', 'UTA8B', 'UTA9B', 'UTA10B'],
            'sala ibm2': ['UTA11C', 'UTA12C', 'UTA13C', 'UTA14C']
        };

        function mostrarSetpoints() {
            const cantidadUt = document.getElementById('cantidad_utas').value;
            const contenedorSetpoints = document.getElementById('setpoints');
            const contenedorValores = document.getElementById('valores_utas');
            contenedorSetpoints.innerHTML = '';  // Limpiar contenido anterior
            contenedorValores.innerHTML = '';    // Limpiar contenido anterior

            for (let i = 1; i <= cantidadUt; i++) {
                // Campo para el setpoint de cada UTA
                const inputSetpoint = document.createElement('input');
                inputSetpoint.type = 'text';
                inputSetpoint.className = 'form-control mb-2';
                inputSetpoint.name = `setpoint_uta_${i}`;
                inputSetpoint.placeholder = `Setpoint UTA ${i}`;
                contenedorSetpoints.appendChild(inputSetpoint);

                // Campo para el valor actual de cada UTA
                const inputValor = document.createElement('input');
                inputValor.type = 'text';
                inputValor.className = 'form-control mb-2';
                inputValor.name = `valor_uta_${i}`;
                inputValor.placeholder = `Valor Actual UTA ${i}`;
                contenedorValores.appendChild(inputValor);
            }
        }

        function actualizarUTAs() {
            const salaSeleccionada = document.getElementById('nombre_sala').value;
            const contenedorUt = document.getElementById('utas');
            contenedorUt.innerHTML = '';  // Limpiar contenido anterior

            const utas = utasPorSala[salaSeleccionada] || [];
            const cantidadUt = utas.length;

            // Mostrar UTAs disponibles
            for (let i = 0; i < cantidadUt; i++) {
                const inputUta = document.createElement('input');
                inputUta.type = 'text';
                inputUta.className = 'form-control mb-2';
                inputUta.name = `uta_${i + 1}`;
                inputUta.value = utas[i];
                inputUta.readOnly = true; // Hacerlo de solo lectura
                contenedorUt.appendChild(inputUta);
            }

            // Actualizar la cantidad de UTAs
            document.getElementById('cantidad_utas').value = cantidadUt;
            mostrarSetpoints(); // Mostrar setpoints para la cantidad actual de UTAs
        }
    </script>
</head>
<body>
    <header class="text-center my-4">
        <!-- Logo Image -->
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Company Logo" width="150">
    </header>
    <div class="container mt-5">
        <h1 class="text-center">Evaluación de Salas<h5>"Prototipo version 0.1"</h5></h1>
        <form action="{{ url_for('evaluar') }}" method="post" class="mb-4">
            <div class="form-group">
                <input type="text" class="form-control" name="temp_exterior" placeholder="Temperatura Exterior" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="temp_agua" placeholder="Temperatura Agua" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="temp_sensor1" placeholder="Temperatura Sensor 1" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="temp_sensor2" placeholder="Temperatura Sensor 2" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="humedad_sensor1" placeholder="Humedad Sensor 1" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="humedad_sensor2" placeholder="Humedad Sensor 2" required>
            </div>
            <div class="form-group">
                <label for="nombre_sala">Nombre de la Sala:</label>
                <select class="form-control" name="nombre_sala" id="nombre_sala" required onchange="actualizarUTAs()">
                    <option value="">Selecciona una sala</option>
                    <option value="sala blanca">Sala Blanca</option>
                    <option value="sala amarilla">Sala Amarilla</option>
                    <option value="sala naranja">Sala Naranja</option>
                    <option value="sala telco">Sala Telco</option>
                    <option value="sala jaula">Sala Jaula</option>
                    <option value="sala ibm1">Sala IBM1</option>
                    <option value="sala ibm2">Sala IBM2</option>
                </select>
            </div>
            <div id="utas" class="mb-3">
                <!-- Los campos de UTAs se agregarán aquí -->
            </div>
            <div class="form-group">
                <input type="number" id="cantidad_utas" class="form-control" name="cantidad_utas" placeholder="Cantidad de UTAs" required readonly>
            </div>
            
            <div id="setpoints" class="mb-3">
                <!-- Los campos de setpoints se agregarán aquí -->
            </div>
            <div id="valores_utas" class="mb-3">
                <!-- Los campos de valores actuales de las UTAs se agregarán aquí -->
            </div>

            <input type="submit" class="btn btn-primary btn-block" value="Evaluar">
        </form>
        
        <!-- Botón de reset -->
        <form action="{{ url_for('index') }}" method="get">
            <input type="submit" class="btn btn-secondary btn-block" value="Reset">
        </form>

        {% if resultados %}
            <h2 class="mt-5">Resultados de la Evaluación:</h2>
            <ul class="list-group">
                {% for resultado in resultados %}
                    <li class="list-group-item">{{ resultado }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <footer class="bg-dark footer-text mt-5 p-4 text-center">
        <div class="container">
            <p class="mb-1">&copy; 2024 Pedro Gudiño. Todos los derechos reservados.</p>
            <p>Dirección: Buenos Aires, Argentina</p>
            <p>Teléfono: (11) 44940576 | Email: pedro.dev.solutions@gmail.com</p>
            <div class="social-icons mb-2">
                <a href="https://www.facebook.com" class="footer-text mx-2">Facebook</a>
                <a href="https://www.linkedin.com/in/pedro-gudi%C3%B1o-209585142/" class="footer-text mx-2">LinkedIn</a>
                <a href="https://www.instagram.com" class="footer-text mx-2">Instagram</a>
            </div>
            <div class="links">
                <a href="/politica-privacidad" class="footer-text mx-2">Política de Privacidad</a>
                <a href="/terminos-condiciones" class="footer-text mx-2">Términos y Condiciones</a>
                <a href="/faq" class="footer-text mx-2">FAQs</a>
            </div>
            <form class="mt-2">
                <input type="email" placeholder="Suscríbete a nuestro boletín" class="form-control mb-2 d-inline-block" style="width: auto;">
                <button type="submit" class="btn btn-primary">Suscribirse</button>
            </form>
        </div>
    </footer>
    
    
</body>
</html>
